.guestbook {
    width: 320px;
}

.guestbook input {
    width: 70%;
    background-color: #b0b0b0;
}

.guestbook input::placeholder {
    color: #525453;
}

.guestbook textarea {
    width: 100%;
    margin: 5px;
    background-color: #b0b0b0;
}

.guestbook textarea::placeholder {
    color: #525453;
}

.guestbook button {
    width: 100%;
    margin: 10px auto;
    background-color: #b0b0b0;
}
