.review h1 {
    padding-top: 80px;
    padding-bottom: 60px;

    text-align: center;

    color: #403930;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
}

.swiper {
    margin-bottom: 120px;
}

.swiper-slide {
    display: flex;
    width: 460px;
    height: 264px;
    padding: 0px 39px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border-radius: 10px;
    background: #fafafa;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.review-text {
    color: #403930;
    font-family: 'Work Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}

.reviewer {
    color: #403930;
    text-align: center;
    font-family: 'Work Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 125% */
}

@media (max-width: 520px) {
    .swiper-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 40px 60px 40px;
        gap: 20px;
        box-sizing: border-box;
    }

    .review h1 {
        padding-top: 60px;
        padding-bottom: 40px;

        text-align: center;
        font-size: 28px;
    }

    .swiper-slide {
        box-sizing: border-box;
        width: auto;
        padding: 24px 16px;
        justify-content: space-between;
        gap: 8px;
        height: auto;
    }

    .swiper-wrapper :nth-child(n + 4) {
        display: none;
    }
    .review-text {
        color: #403930;
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 21px */
    }
    .reviewer {
        width: 100%;
        color: #0f5ba1;
        text-align: right;
        font-family: Pretendard;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 208.333% */
    }
}
